.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    background-color: #f6f7fb;
    border: 1px solid #a6abb9;
    border-radius: 4px;
    text-decoration: none;
    color: #242a37;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Отступ от формы */
}

.googleButton:hover {
    background-color: #eceef2;
}

.icon {
    width: 20px;
    height: 20px;
}
