.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px; /* Ширина кнопки на мобилке */
    gap: 16px;
    padding-left: 14px;
    background-color: #f5f7fa;
    box-shadow: 0 2px 2px 0 rgba(9, 30, 63, 0.15);
    border: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.375;
    color: #707375;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Отступ от формы */
}

.googleButton:hover {
    background-color: #eceef2;
}

.icon {
    width: 18px;
    height: 18px;
}
