.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sectionTitle {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #242a37;
}

.bookList {
    width: 100%;
}

.bookHeader {
    display: grid;
    gap: 16px;
    padding: 0 16px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #898f9f;
}

/* Сітка для "Читаю" та "Маю намір прочитати" */
.bookHeaderDefault {
    grid-template-columns: 1fr 220px 100px 100px 50px;
}

/* Сітка для "Прочитано" */
.bookHeaderFinished {
    grid-template-columns: 1fr 220px 100px 100px 140px 140px;
}

.headerCell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .bookHeader {
        display: none;
    }
}
