.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
    padding: 20px;
}

.modalContent {
    background-color: #ffffff;
    padding: 32px 20px;
    border-radius: 8px;
    position: relative;
    max-width: 100%;
    width: 280px;
    box-shadow: 0 4px 15px rgba(2, 20, 53, 0.2);
}

.closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    cursor: pointer;
    color: #898f9f;
    padding: 0;
    display: flex;
}

@media screen and (min-width: 768px) {
    .modalContent {
        width: 380px;
        padding: 40px;
    }
}
