.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.contentWrapper {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 480px; /* Ограничим ширину формы */
    width: 100%;
}

/* tablet styles */
@media only screen and (min-width: 768px) {
    .section {
        padding: 0 32px;
    }
    .contentWrapper {
        padding: 40px 60px;
    }
}

/* desktop styles */
@media only screen and (min-width: 1280px) {
    .section {
        padding: 0 16px;
    }
}
