@import "modern-normalize/modern-normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    font-family: "Montserrat", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --third-family: "Abril Fatface", sans-serif;
    --font3: "Roboto", sans-serif;
    line-height: 1.67;
    font-weight: 500;
    font-size: 14px;

    color: #242a37;
    background-color: #fff;
    --auth-header-height: 60px;

    font-optical-sizing: auto;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.scroll-lock {
    position: fixed;
    overflow: hidden;
    inset: 0;
    width: 100%;
}
